<div>
    <div>
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo.png"
               class="img-responsive center-block"
               style="max-height:200px;padding-bottom:20px" />
        </div>
        <p-carousel [value]="movieList" [numVisible]="3" [numScroll]="3" [circular]="true">
          <ng-template let-movie pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <div class="mb-3">
                <img 
                  [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" 
                  class="w-6 shadow-2 moviePoster" 
                  style="max-width: 100%; max-height: 200px;" 
                  (click)="showDetails(movie)" />
              </div>
              <div>
                <h4 class="mb-1">{{ movie.original_title }}</h4>
                <h6 class="mt-0 mb-3">{{ 'Rating: ' + movie.vote_average }}</h6>
                <p-tag [value]="movie.release_date"></p-tag>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        
        <!-- Display the Movie Detail Component -->
        <app-movie-detail *ngIf="selectedMovie" [movie]="selectedMovie"></app-movie-detail>
      </div>
    </div>
  </div>